<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Slap Rat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/main.css"/>
</head>

<body>

<div id="loadingDiv"></div>
<div id="container" class="page_tablelds">

    <nav id="tabs">
        <ul>
            <li class="active"><a href="#">Friends</a></li>
        </ul>
    </nav>

    <div id="data">
        <table id="tableld">
        </table>
    </div>


    <p id="close"><a href="#" onclick="CocoonJS.WebDialog.close(); return false;">Close</a></p>

</div>
<!-- /#container -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/jquery-1.8.3.min.js"><\/script>')</script>
<script type="text/javascript">
    $("tr").before('<tr class="spacer"><td colspan="3"></td></tr>');
</script>

<script>

    function initializeView() {
        document.getElementById("tableld").innerHTML='';
    }

    function adddls(dls) {
        var tablelds = document.getElementById("tableld");
        var loadingDiv = document.getElementById("loadingDiv");
        loadingDiv.style.display = "none";
        for (var i = 0; i< dls.length; ++i) {
            var dl = dls[i];
            var newTR = document.createElement("tr");
            if (dl.me) {
                newTR.setAttribute("class", "active");
            }

            var str = '<td class="position">' + (dl.position+1) + '</td>' +
                    '<td class="name"><img src="' + dl.imageURL + '"> ' + dl.userName + '</td>' +
                    '<td class="dl">' + dl.dl + '</td>'

            newTR.innerHTML = str;
            tablelds.appendChild(newTR); 
        }

    }
</script>
</body>
</html>